<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596134140153-j2m7h5psgo47fhsicfqgakhabm6fugvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596134140153-j2m7h5psgo47fhsicfqgakhabm6fugvq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596134140153-98u7rkq7454dvtpignd2sbsdcg20ri0v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrhekvDd_tus-fKXRLDfMIOC39qpezpcA</string>
	<key>GCM_SENDER_ID</key>
	<string>596134140153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scottseggie.shield</string>
	<key>PROJECT_ID</key>
	<string>shield-e3819</string>
	<key>STORAGE_BUCKET</key>
	<string>shield-e3819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596134140153:ios:daf4c5ab440b4aad3b6a28</string>
	<key>DATABASE_URL</key>
	<string>https://shield-e3819.firebaseio.com</string>
</dict>
</plist>